{%- if is_admin -%}
    Привет друг! О, ты же админ! Так начни управлять.
{%- elif has_access -%}
    Привет друг. У тебя есть доступ к консоли, удачи!
{%- else -%}
    Привет друг! Введи /info для отображения информации о боте!
{%- endif -%}